### IDE ###
.idea

### Python ###
__pycache__/

### ENV ###
.env

### VENV ###
venv

### Media ###
media/users/

### BD ###
*.sqlite3

### Django ###
*.pyc

### Tests ###
htmlcov/
.coverage

### Other ###
help.txt
tmp/

### NodeJS ###
frontend/node_modules/
frontend/package-lock.json
frontend/README.md
yarn.lock
